.light-dark {
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    margin: 0 10px;
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white;
        transition: .4s;
        border-radius: 34px;
    }
    
    .switch input {
        display: none;
    }
    .slider::before {
        position: absolute;
        top: 5px;
        left: 5px;
        content: "";
        width: 14px;
        height: 14px;
        background-color: $violet;
        transition: .4s;
        border-radius: 24px;
    }
    
    input:checked + .slider {
        background-color: $white;
    }
    
    input:checked + .slider:before {
        transform: translateX(24px);
    }
}

