:root {
    --background: #{$light-grey};
    --cards: #{$white};
    --h2-color: #{$very-dark-blue};
    --h3-color: #{$very-dark-blue};
    --search-background: #{$white};
    --input-fields: #{$white};
    --input-txt-color: #{$very-dark-blue};
    --btn-two-bg: #{$violet};
    --p-strong: #{$very-dark-blue};
    --border-top: #{$light-violet};
}

body {
    background-color: var(--background);
    // position: relative;
}

h2 {
    @include h2
}

p {
    margin-bottom: 24px;
    color: $dark-grey;
    
    strong {
        font-size: 20px;
        font-weight: bold;
        color: var(--p-strong);
    }

    a {
        color: $dark-grey;
        text-decoration: underline;
    }
}


ul {
    margin-bottom: 24px;
    color: $dark-grey;

    li {
        margin-bottom: 8px;
        display: flex;
    }

    li::before {
        padding-right: 32px;
        content: "\2022";
        color: $violet;
    }

}

.number-list {
    
    li {
        display: inline-flex;
    }

    li span {
        display: inline-block;
        padding-right: 25px;
        font-weight: bold;
        color: $violet;
    }

    li::before {
        padding-right: 0;
        content: "";
    }
}
a {
    text-decoration: none;
}

.dark {
    --background: #{$midnight};
    --search-background: #{$midnight};
    --cards: #{$midnight};
    --h2-color: #{$white};
    --h3-color: #{$white};
    --input-fields: #{$midnight};
    --input-txt-color: #{$white};
    --btn-two-bg: #{$white};
    --p-strong: #{$white};
    --border-top: #{$dark-grey};
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background: #{$midnight};
//         --search-background: #{$midnight};
//         --cards: #{$midnight};
//         --h2-color: #{$white};
//         --h3-color: #{$white};
//         --input-fields: #{$midnight};
//         --input-txt-color: #{$white};
//         --btn-two-bg: #{$white};
//         --p-strong: #{$white};
//         --border-top: #{$dark-grey};
//     }
// }